body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 0 0 0;
}

header,
footer {
    font-size: 30px;
    display: flex;
    justify-content: center;
    background-color: bisque;
}

p {
    font-size: small;
}

.calcu {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
}

.display {
    padding: 50px;
    background-color: beige
}

.buttons {
    padding: 10px;
}